.rw-booking-hack__loader {
    position: absolute;
    top: 50%;
    left: 45%;
    margin: auto;
}

.rw-booking-hack__date-time-picker-pre-book {
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}