.rw-booking-hack__attraction-list-item-container {
    display: flex;
    flex-direction: column;
}

.rw-booking-hack__attraction-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 54px;
    background: white;
    border: 1px solid #ddd;
    border-top: 0;
    color: #333;
}

.rw-booking-hack__attraction-name {
    flex: 0 1 60%;
    text-align: left;
    padding-left: 16px;
}

.rw-booking-hack__attraction-list-search-btn {
    background: #0077cc;
    border-radius: 3px;
    color: #fff;
}

.rw-booking-hack__available-ride-result {
    display: flex;
    height: 54px;
    align-items: center;
    justify-content: space-between;
}