@import 'partials/defaults';
body {
    background: #EEE;
    color: #005CC5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.rw-booking-hack__header {
    background-color: #003580;
}